@model MyMerchTracker3.Models.Merch

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Merch</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MerchType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchType.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchPrice)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>*@
        @*<dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>*@
        <dt>
            @*@Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>*@

            @*/* below line shows small-xxl sizes only when Shirt is selected */*@

            @if (Model.MerchType.Title == "Shirt")

            {

            <dt>
                @Html.DisplayNameFor(model => model.Small)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Small)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Medium)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Medium)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Large)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Large)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Xlarge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Xlarge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Xxlarge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Xxlarge)
            </dd>
            }
            else
            {
            <dt>
                @Html.DisplayNameFor(model => model.AllSize)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AllSize)
            </dd>
            }
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
